

.createCardPopup{
    position: fixed;
    display: flex;
    min-width:   100%;
    min-height: 100%;
    background-color: #13111def;
    z-index: 999;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    top: 0;
    
}

.form{
     display: flex;
     flex-direction: column;
     gap: 15px;
    border-radius: 5px; 
    padding: 35px;
    background-color: #382274;
    height: fit-content;
    width: 500px;
     
}

.form__footer{
    display: flex;
    justify-content: space-around;

}

@media only screen and (max-height: 876px) {
    .form {
        padding: 15px;
        gap: 10px;
    }
    h1{
        margin: 0
    }
  }


  @media only screen and (max-height: 700px) { 
    .form{
        width: 300px;
         
    }
    h1{
        font-size: 15px;
    }
     .inputCustom {
        height: 20px;
        width: 300px;
    }
    .inputPhoneCustom{
        padding: 2px;
        width: 296px;
    }
    .form__footer{
        max-width: 300px;
    }
}

@media only screen and (max-height: 650px) { 
    .checkBoxLabelCustom{
        height: 29px;
    }
}