.navList {
  display: flex;
  justify-content: space-around;
}
.navLayuout {
  overflow-x: hidden;
  display: inline-block;
  width: 800px;
  margin: 0 auto;
}
.navList__item {
  padding: 5px;
  border: 2px solid #382274;
  border-radius: 5px;
  color: white;
  transition: all 0.8s;
  background-color: #382274;
}

.navList__item:hover {
  cursor: pointer;
  background-color: #e68d1a;
  border: 2px solid #e68d1a74;
}

.container {
  width: 1440px;
  margin: 0 auto;
}


@media screen and (max-width: 600px) {
  .navLayuout {
    overflow-x: scroll;
    display: inline-block;
     width: 600px;
  }
}

@media screen and (max-width: 589px) {
  .navLayuout {
    overflow-x: scroll;
    display: inline-block;
     width: 400px;
  }
}