.tableFinish{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tableWaitngList__findField input {
  padding: 4.51px;
  line-height: normal ;
  
}
.tableWaitngList__findField label{
  line-height: normal ;
}
 