

.carBoard{

    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 2px solid #705AF8;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 0px;
    transition: all 0.8s;
    word-wrap: break-word;
}
.carBoard:hover{
    scale: 1.04;
    cursor: pointer;
}

.carBoard__inner{
    display:flex ;
    flex-wrap: wrap;
    word-wrap: break-word;
    width:300px;
}
 
.carBoard__inner__item{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 6px;
    word-wrap: break-word;
    margin: 5px 10px;
}