.tableService {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}


.carService:hover{
 
    scale: 1.04;
    cursor: pointer;
 
}

.tableWaitngList__findField input {
  padding: 4.51px;
  padding: 4.51px;
    line-height: normal ;
}
.tableWaitngList__findField label{
  line-height: normal ;
}
 