body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none; /* Убираем подчеркивание */
}
ul {
  list-style: none; /* Убираем маркеры у всех списков */
}

:root {
  --default-background-color-black: #212121;
  --default-color-button: #705af8;
  --default-color-button-hover: #7975f8;
  --default-transition: all 0.8s;
  --default-border-radius: 4px;
  --circle-border-radius: 25px;
  --default-opacity: 0.2s;
  --buttonplus-height-withoutcar: 55px;
  --buttonplus-height-withcar: 38px;
}
