
.NoCarList__body{
     
    height: 88vh;
    width: 100%;
    display: flex;
     flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 15px;
}

.text__underImage{
    font-size: 20px;
}